<div class="container">
  <div class="row">
    <div class="col">

      <h1>404: Page not found</h1>

      {{#if message}}
        <p class="message">
          Message: {{ message }}
        </p>
      {{/if}}

      <p class="message">
        Let's navigate you back to the <a href='https://x5gon.org/'>project homepage</a> or the
        <a href='https://platform.x5gon.org'>platform page</a>.
      </p>

    </div>{{! .col }}
  </div>{{! .row }}
</div>{{! .container }}