[submodule "OER Search"]
	path = search
	url = https://github.com/ErikNovak/X5GON-elasticsearch-microservice.git

[submodule "X5GON Platform UI"]
	path = platform/frontend
	url = https://github.com/gregpr07/x5gon-gatsby.git
