#g-recaptcha + small.form-text { color: red; }

.application {
    display: block;
    border: 0px solid #5b95a5;
    border-radius: 0px;
    position: relative;
    background: #fefefe;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.5);
    margin-bottom: 13px;

}

.application .form-group:last-child {
    margin-bottom: 0px;
}