header .navbar .btn-nav.btn-monitor {
    color: white;
    background-color: #5b95a5;
}

header .navbar .btn-nav.btn-monitor:hover {
    background-color: #456f7a;
}

.table thead {
    background-color: #5b95a5;
    color: white;
}

.table thead th { border: 0px; }

.table tbody td {
    border-top: 0px;
    border-bottom: 1px solid #eaeaea;
}

.table tbody tr:last-child td {
    border-bottom: 0px;
}

.table tbody tr:nth-child(2n-1) td {
    border-bottom: 0px;
}

.table tbody tr[data-process-body] td {
    padding: 0px;
}

.table tbody tr[data-process-body] td .content {
    margin: 15px;
}

.table-responsive::-webkit-scrollbar {
    width: 10px;
}

.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: #888;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message a {
    font-weight: 600;
    color: #456f7a;
    transition: color .2s;
}

.message a:hover {
    color: #323232;
    text-decoration: none;
}