<footer class="container-fluid bg-black text-white p-md-5">
  <div class="maxer mx-auto row py-5 px-4">
    <div class="col-md-3 col-lg-4 col-12 pl-0 pb-4 pb-md-0 px-1 mt-5 mt-md-0">
      <a aria-current="page" class="" href="/">
        <img src="/img/logo/x5gon_logo_dark.svg" height="22px" alt="logo">
      </a>
    </div>{{! .col-md.content}}

    <div class="col-md-9 col-lg-8 col-12 mt-4 mt-md-0 pl-3 ml-1 pl-md-0 ml-md-0">

      <div class="row border-bottom flex-row-reverse flex-md-row">
        <div class="col-6 col-md-3 pl-0 pb-5">
          <p style="font-size: 12px; letter-spacing: 3.4px; line-height: 24px; font-weight: 700;">
            GO-TO
          </p>
          <a class="d-block footer-li-text" href="/#products" style="text-transform: capitalize;">Products</a>
          <a class="d-block footer-li-text" href="/join" style="text-transform: capitalize;">Join</a>
          <a class="d-block footer-li-text" href="/policy" style="text-transform: capitalize;">Policy</a>
          <a class="d-block footer-li-text" href="/team" style="text-transform: capitalize;">Team</a>
        </div>

        <div class="col-6 col-md-3 pl-0 pb-5">
          <p style="font-size: 12px; letter-spacing: 3.4px; line-height: 24px; font-weight: 700;">
            PRODUCTS
          </p>
          <a class="d-block footer-li-text" href="/products/recommend" style="text-transform: capitalize;">recommend</a>
          <a class="d-block footer-li-text" href="/products/analytics" style="text-transform: capitalize;">analytics</a>
          <a class="d-block footer-li-text" href="/products/discovery" style="text-transform: capitalize;">discovery</a>
          <a class="d-block footer-li-text" href="/products/translate" style="text-transform: capitalize;">translate</a>
          <a class="d-block footer-li-text" href="/products/connect" style="text-transform: capitalize;">connect</a>
          <a class="d-block footer-li-text" href="/products/feed" style="text-transform: capitalize;">feed</a>
        </div>

        <div class="col-6 col-md-3 pl-0 pb-5">
          <p style="font-size: 12px; letter-spacing: 3.4px; line-height: 24px; font-weight: 700;">
            CONTACT
          </p>
          <a href="mailto:info@x5gon.org" class="d-block footer-li-text" style="text-transform: capitalize;">General Enquiries</a>
          <a href="mailto:partnering@x5gon.org" class="d-block footer-li-text" style="text-transform: capitalize;">Partnering Projects</a>
          <a href="mailto:admin@x5gon.org" class="d-block footer-li-text" style="text-transform: capitalize;">Project Coordination</a>
          <a href="mailto:press@x5gon.org" class="d-block footer-li-text" style="text-transform: capitalize;">Press Enquiries</a>
        </div>

        <div class="col-6 col-md-3 pl-0 pb-5">
          <p style="font-size: 12px; letter-spacing: 3.4px; line-height: 24px; font-weight: 700;">
            SUPPORT
          </p>
          <a href="https://github.com/JozefStefanInstitute/x5gon" class="d-block footer-li-text" target="blank" style="text-transform: capitalize;">Github Repository</a>
          <a href="/files/x5gon-docs.pdf" class="d-block footer-li-text" target="blank" style="text-transform: capitalize;">Documentation</a>
          <a class="d-block footer-li-text" href="/privacy" style="text-transform: capitalize;">Privacy &amp; policy</a>
        </div>
      </div>{{! .row }}

      <div class="row mt-5">
        <div class="col-2 m-0 pl-0">
          <img src="/img/euflag.png" alt="EU commission" width="100%" class="m-0">
        </div>
        <div class="col-9 m-0 col-xl-7">

          <p class="my-auto m-0 p-0 footer-li-text" style="line-height: 20px;">
            This project has received funding from the European Union’s Horizon 2020 research and
            innovation programme under grant agreement No 761758.
          </p>
        </div>
      </div>

    </div>{{! .col-md.content }}


  </div>{{! .row }}

</footer>{{! .container-fluid }}