<header class="header bg-black">
  <nav class="navbar pt-3 px-md-4 navbar-expand-sm navbar-dark">
    <div class="container">
      <div class="navbar-brand mb-0 h1">
        <a href="/">
          <img src="/img/logo/x5gon_logo_dark.svg" height="22px" alt="logo">
        </a>
      </div>

      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
        data-target="#site-navigation" aria-controls="site-navigation"
        aria-expanded="false" aria-label="Toggle site navigation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
          <title>Menu</title>
          <path stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
        </svg>
      </button>

      <div class="collapse navbar-collapse" id="site-navigation">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active ml-lg-3">
            <a class="nav-link mx-md-2 x-xs-1" href="/#products">Products</a>
          </li>
          <li class="nav-item active ml-lg-3">
            <a class="nav-link mx-md-2 x-xs-1" href="/join">Join</a>
          </li>
          <li class="nav-item active ml-lg-3">
            <a class="nav-link mx-md-2 x-xs-1" href="/transparency">Transparency</a>
          </li>
          <li class="nav-item active ml-lg-3">
            <a class="nav-link mx-md-2 x-xs-1" href="/policy">Policy</a>
          </li>
          <li class="nav-item active ml-lg-3">
            <a class="nav-link mx-md-2 x-xs-1" href="/team">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>