<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="application-name" content="X5GON Platform">
  <meta name="description" content="Cross Modal, Cross Cultural, Cross Lingual, Cross Domain, and Cross Site Global OER Network">
  <meta name="project" content="X5GON">
  <meta name="author" content="Erik Novak">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> {{! link to the bootstrap css files }}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138153355-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138153355-1');
  </script>

  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-16x16.png">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>

  {{! bootstrap }}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"></script> {{! link to the google fonts }}

  {{! font awesome }}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">

  {{! google fonts }}
  <link
    href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,300,400,700&display=swap"
    rel="stylesheet"
  />

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap"
    rel="stylesheet"
  />

  {{! style sheets }}
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/body-spacing.css">
  <link rel="stylesheet" href="/css/join.css">
  <link rel="stylesheet" href="/css/privacy-policy.css">
  <link rel="stylesheet" href="/css/documentation.css">
  <link rel="stylesheet" href="/css/admin.css">
  {{! source code styling library }}
  <link rel="stylesheet" href="/css/prism.css">
  <script src="/js/prism.js"></script>

  {{! common js functions }}
  <script src="/js/common.js"></script>

  <title>{{title}} | X5GON Platform</title>
</head>

<body class="pt-6">
  {{! navigation for every page }}
  {{> header-navigation }}

  <main role="main">
    <div class="container">
      <div class="row">
        <div class="col">

          <div class="doc-navigation col-xl-2">
            <ul>
              <li>
                <a class="doc" href="/admin">
                  Control Panel
                </a>
              </li>
              <li>
                <b class="doc">
                  Overview
                </b>
                <ul>
                  <li>
                    <a class="doc route" href="/admin/oer_providers">
                      OER Providers
                    </a>
                  </li>
                  <li>
                    <a class="doc route" href="/admin/api_keys">
                      Platform API Keys
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="doc" href="/admin/monitor/process">
                  Process Monitor
                </a>
              </li>
              <li>
                <a class="doc" href="/admin/list">
                  Admin List
                </a>
              </li>
              <li>
                <a class="doc" href="/admin/logout">
                  Logout
                </a>
              </li>
            </ul>

          </div>{{! .doc-navigation }}

        </div>{{! .col }}
      </div>{{! .row }}
    </div>{{! .container }}

    {{{body}}}
  </main>

  {{> footer }}

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>

</body>

</html>