<footer class="container-fluid">
  <div class="row">
    <div class="col">

      <div class="row funding">
        <div class="col d-flex justify-content-center">
          <img class="img-left mr-2" src="/img/eu-commission.png" alt="EU commission">

          <p class="text-left my-auto">
            This project has received funding from the European Union’s Horizon 2020 research and
            innovation programme under grant agreement No 761758.
          </p>
        </div>
      </div>

      <div class="container content">
        <div class="row">
          <div class="col-md">

            <h4>X5GON Project</h4>
            <p class="link">
              <a href="https://www.x5gon.org/">X5GON Project Home Page
                <span>
                  <i class="fas fa-external-link-alt"></i>
                </span>
              </a>
            </p>
            <p class="link">
              <a href="/">X5GON Platform Home Page
              </a>
            </p>
            <p class="link">
              <a href="/documentation">X5GON API Documentation</a>
            </p>
            <p class="link">
              <a href="/privacy_policy">Privacy Policy</a>
            </p>

            <p class="social-network">
              <a class="mr-1" href="https://www.facebook.com/openingupslovenia/">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a class="mr-1" href="https://twitter.com/OpenupSLO">
                <i class="fab fa-twitter-square"></i>
              </a>
            </p>


          </div>{{! .col-md.content}}


          <div class="col-md">

            <h4>Contacts</h4>
            <div class="row">

              <div class="col-md-6">
                <p class="contact">
                  General Enquiries
                  <br>
                  <a href="mailto:info@x5gon.org">info@x5gon.org</a>
                </p>
                <p class="contact">
                  Partnering Projects and Industrial Relations
                  <br>
                  <a href="mailto:partnering@x5gon.org">partnering@x5gon.org</a>
                </p>
              </div>

              <div class="col-md-6">
                <p class="contact">
                  Project Coordination
                  <br>
                  <a href="mailto:admin@x5gon.org">admin@x5gon.org</a>
                </p>
                <p class="contact">
                  Press Enquiries
                  <br>
                  <a href="mailto:press@x5gon.org">press@x5gon.org</a>
                </p>
              </div>

            </div>{{! .row }}

          </div>{{! .col-md.content }}


        </div>{{! .row }}
        <div class="row">
          <div class="col text-center">
            <span class="copyright">© X5gon</span>
          </div>
        </div>

      </div>{{! .container }}

    </div>{{! .col }}
  </div>{{! .row }}
</footer>{{! .container-fluid }}