<header>
  <nav class="navbar navbar-expand-md fixed-top">
    <span class="navbar-brand mb-0 h1">
      <a href="https://www.x5gon.org/">
        <img src="https://www.x5gon.org/wp-content/themes/x5gon/dist/assets/img/logo.svg" alt="X5GON">
      </a>
    </span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        {{! home link }} {{! TODO add a proper home page }}
        <li class="nav-item pr-5">
          <a class="btn btn-nav btn-sm" href="/search">Search</a>
        </li>

        <li class="nav-item pr-2">
          <a class="btn btn-nav btn-sm btn-monitor" href="/monitor/process?token={{token}}">Process</a>
        </li>

        <li class="nav-item pr-2">
          <a class="btn btn-nav btn-sm btn-monitor" href="/monitor/materials?token={{token}}">Materials</a>
        </li>

        <li class="nav-item pr-2">
          <a class="btn btn-nav btn-sm btn-monitor" href="/monitor/snippet?token={{token}}">Snippet</a>
        </li>
      </ul>

      <a class="ml-2" href="/oer-provider/login" data-toggle="tooltip"
        data-placement="bottom" title="Provider login">
        <span class="fa-stack">
          <i class="link-background fas fa-circle fa-stack-2x"></i>
          <i class="link-symbol fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
        </span>
      </a>

      <a class="ml-2" href="/application-form" data-toggle="tooltip"
        data-placement="bottom" title="Join the X5GON network">
        <span class="fa-stack">
          <i class="link-background fas fa-circle fa-stack-2x"></i>
          <i class="link-symbol fas fa-handshake fa-stack-1x fa-inverse"></i>
        </span>
      </a>

      <a class="ml-2 btn btn-outline-secondary btn-sm rounded-0"
        href="https://www.x5gon.org/#subscribe">
          Subscribe
      </a>
    </div>

  </nav>
</header>