<header>
  <nav class="navbar navbar-expand-md">
    <div class="container">

      <ul class="navbar-nav mr-auto"></ul>

      <a href="/oer_provider/login" data-toggle="tooltip"
        data-placement="bottom" title="Provider login">
        <span class="fa-stack">
          <i class="link-background fas fa-circle fa-stack-2x"></i>
          <i class="link-symbol fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
        </span>
      </a>

      <a class="ml-2" href="/join" data-toggle="tooltip"
        data-placement="bottom" title="Join the X5GON network">
        <span class="fa-stack">
          <i class="link-background fas fa-circle fa-stack-2x"></i>
          <i class="link-symbol fas fa-handshake fa-stack-1x fa-inverse"></i>
        </span>
      </a>

      <a class="ml-2 btn btn-outline-secondary btn-sm rounded-0"
        href="https://www.x5gon.org/#subscribe">
          Subscribe
      </a>

    </div>
  </nav>
</header>