<html>
  <head></head>
  <body>
    <script>
      (function () {
        /**
         * Sets a new cookie for the current domain. The expiration date is 30 days.
         * @param {String} cookieName - The cookie name.
         * @param {String} cookieValue - The cookie value.
         */
        function x5gonSetCookie(cookieName, userId) {
          var expirationDate = new Date();
          expirationDate.setDate(expirationDate.getDate() + 3650);
          document.cookie = cookieName + "=" + encodeURIComponent(userId) +
            "; expires=" + expirationDate.toGMTString() +
            "; path=/; domain=x5gon.org";
        }
        /**
         * Gets the cookie value.
         * @param {String} cookieName - The cookie name.
         * @returns {String} The cookieName value, empty string if the cookie not found.
         */
        function x5gonGetCookie(cookieName) {
          if(document.cookie.length > 0) {
            var CStart = document.cookie.indexOf(cookieName + "=");
            if (CStart != -1) {
              CStart = CStart + cookieName.toString().length + 1;
              var CEnd = document.cookie.indexOf("; ", CStart);
              if (CEnd == -1) { CEnd = document.cookie.length; }
              var StrLen = CEnd - CStart;
              if (StrLen > 20) { CEnd = CStart + 20; }
              if (CEnd <= document.cookie.length) {
                return decodeURIComponent(document.cookie.substring(CStart, CEnd));
              }
            }
          }
          return "";
        }
        // get the cookie tracker
        var uuid = x5gonGetCookie("{{x5gonCookieName}}");
        if (uuid === null || uuid === "") {
          uuid = Math.random().toString().substr(2) + "X" + Date.now();
          x5gonSetCookie("{{x5gonCookieName}}", uuid);
        }
        {{#if callbackURL}}
          window.location.href="{{{callbackURL}}}";
        {{/if}}
      })();

    </script>
  </body>
</html>