html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 14px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    color: #323232;
}

@media screen and (min-width: 1360px) {
    main {
        background-image: url('/img/oer-global-network.svg');
        background-position: 95% 20px;
        background-repeat: no-repeat;
        background-size: 67%;
    }
}

header .navbar {
    background-color: #eaeaea;
}

header .navbar .navbar-brand img {
    max-height: 33px;
    margin-left: 0;
}

header .navbar .btn-nav {
    background-color: white;
    transition: background .2s;
    font-weight: 600;
    color: #5b95a5;
}

header .navbar .btn-nav:hover {
    background-color: #f6f6f6;
}

header .navbar .btn-nav.call-to-action {
    background-color: #5b95a5;
    color: white;
    transition: background .2s;
}

header .navbar .btn-nav.call-to-action:hover {
    background-color: #456f7a;
}

header .navbar a {
    color: #a7a7a7;
    transition: background .2s;
}

header .navbar a:hover {
    color: #5b95a5;
}

header .navbar a .link-symbol {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #5b95a5;
    color: white;
    font-size: 14px;
}

footer .funding {
    font-size: 12px;
    background-color: #eaeaea;
    color: black;
    padding: 16px 0 13px 0;
}
footer .funding .col { margin: 0px; }
footer .funding p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

footer .content {
    padding: 16px 0 13px 0;
}

footer .link { margin-bottom: 10px; }
footer .link a { color: white; }
footer .link a:hover {
    color: #e5e5e5;
    text-decoration: none;
}
footer .link span {
    font-size: 10px
}

footer .social-network a {
    font-size: 22px;
    color: white;
}
footer .social-network a:hover { color: #e5e5e5; }

footer .contact a {
    color: white;
    text-decoration: underline;
}
footer .contact a:hover { color: #e5e5e5; }

footer .copyright {
    font-size: 12px;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: white;
}


h1, h2, h3, h4, h5, h6 {
    color: #5b95a5;
}

h1 { margin-bottom: 30px; }

button[type="submit"] {
    border: 0px;
    background-color: #5b95a5;
}

button[type="submit"]:hover,
button[type="submit"]:focus,
button[type="submit"]:active {
    background-color: #456f7a;
}

.btn.btn-outline-secondary {
    border: 2px solid #5b95a5;
    color: #5b95a5;
    font-weight: 600;
}

.btn.btn-outline-secondary:hover {
    background-color: #5b95a5;
    color: white;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border-color: #ced4da;

}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
a:focus,
a:active,
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}