.table thead {
    background-color: #5b95a5;
    color: white;
}

.table thead th { border: 0px; }

.table tbody td {
    border-top: 0px;
    border-bottom: 1px solid #eaeaea;
}

.table tbody tr:last-child td {
    border-bottom: 0px;
}

.table-responsive-lg::-webkit-scrollbar {
    width: 10px;
}

.table-responsive-lg::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-responsive-lg::-webkit-scrollbar-thumb {
    background: #888;
}

.table-responsive-lg::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message a {
    font-weight: 600;
    color: #456f7a;
    transition: color .2s;
}

.message a:hover {
    color: #323232;
    text-decoration: none;
}