<div class="container-fluid">
  <div id="homepage-title" class="row py-4 mb-4">
  <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
    <img src="https://www.x5gon.org/wp-content/themes/x5gon/dist/assets/img/logo.svg"
      alt="X5GON" class="my-3">

      <h4 class="text-center mt-2">
        Connecting OER Repositories and Providing Services to Improve Education Process
      </h4>

    </div>{{! .col }}
  </div>{{! .row }}
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100 p-2">
        <span class="card__label">Service</span>
        <h1 class="card__title">
          <a href="/search">Material Search</a>
        </h1>
        <p class="card__desc">
          This service is designed for searching OER materials that have been
          indexed by the X5GON Platform.
        </p>
      </div>
    </div>

    {{!-- <div class="col-md-6 mb-5">
      <div class="card h-100 p-2">
        <span class="card__label">Service</span>
        <a href="http://wp3.x5gon.org">
          <h1 class="card__title">Learning Analytics</h1>
        </a>
        <p class="card__desc">
        </p>
      </div>
    </div> --}}

    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100 p-2">
        <span class="card__label">Documentation</span>
        <h1 class="card__title">
          <a href="https://jozefstefaninstitute.github.io/x5gon/">Platform API</a>
        </h1>
        <p class="card__desc">
          The link to the API documentation. It describes how to use the platform
          services for your own use.
        </p>
      </div>
    </div>

    <div class="col-md-12 col-lg-4 mb-4">
      <div class="card h-100 p-2">
        <span class="card__label">Form</span>
         <h1 class="card__title">
          <a href="/application-form">Join the Network</a>
        </h1>
        <p class="card__desc">
          Join the global OER repository network.
        </p>
      </div>
    </div>

  </div>{{! .row }}

</div>{{! .container }}