<div class="container">
  <div class="row">
    <div class="col">

      <h1>Materials Monitor</h1>


    </div>{{! .col }}
  </div>{{! .row }}
</div>{{! .container }}

<script src="/socket.io/socket.io.js"></script>