<div class="container">
  <div class="row">
    <div class="col">

      <h1>Snippet Monitor</h1>


    </div>{{! .col }}
  </div>{{! .row }}
</div>{{! .container }}


<script src="/js/graphs/pictogram.js"></script>
<script>
  console.log({{statistics}});
</script>