<div class="container mt-5">
  <div class="row">
    <div class="col">

      <h1 class="text-purple mb-5 pb-lg-5 w-sm-100 w-75">Admin Control Panel</h1>

      <p class="information">
          The admin control panel is used to have an overview of the processes
          and activities that happen in the X5GON platform system.
        </p>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card bg-white px-5 pb-3 pt-3 px-sm-3 mx-auto h-100">
            <span class="card__label">Service</span>
            <h4 class="text-purple card__title">
              <a href="/admin/oer_providers">Overview: OER Providers</a>
            </h4>
            <p class="card__desc">
              This panel shows the OER providers information along with
              their tokens, number of processed materials and number of
              users visits.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card bg-white px-5 pb-3 pt-3 px-sm-3 mx-auto h-100">
            <span class="card__label">Service</span>
            <h4 class="text-purple card__title">
              <a href="/admin/api_keys">Overview: Platform API Keys</a>
            </h4>
            <p class="card__desc">
              This service is designed for creation of API Keys for manual
              import of OER materials. It shows the API keys that were
              distributed, including their permission level, creation time
              and owner.
            </p>
          </div>
        </div>

        <div class="col-md-12 col-lg-4 mb-4">
          <div class="card bg-white px-5 pb-3 pt-3 px-sm-3 mx-auto h-100">
            <span class="card__label">Service</span>
            <h4 class="text-purple card__title">
              <a href="/admin/monitor/process">Process Monitor</a>
            </h4>
            <p class="card__desc">
              This service shows the status of each process that is
              running in the X5GON platform. One can manually disable
              and enable processes if required.
            </p>
          </div>
        </div>
      </div>{{! .row }}

      {{#if stats}}
        <h2 class="doc doc__section">Database Statistics</h1>
        <p class="information">
          The basic X5GON database statistics - showing the number of OER materials,
          user activity data (visits) and number of unique users that accessed the
          registered OER repositories in the X5GON network.
        </p>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="stats">
              <span class="stats__number">
                {{stats.oer_materials}}
              </span>
              <p class="stats__label">
                <span>OER Materials</span>
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5">
            <div class="stats">
              <span class="stats__number">
                {{stats.user_activities}}
              </span>
              <p class="stats__label">
                <span>User Activities</span>
              </p>
            </div>
          </div>

          <div class="col-md-12 col-lg-4 mb-5">
            <div class="stats">
              <span class="stats__number">
                {{stats.unique_users}}
              </span>
              <p class="stats__label">
                <span>Unique Users</span>
              </p>
            </div>
          </div>
        </div>{{! .row }}
      {{/if}}

    </div>{{! .col }}
  </div>{{! .row }}
</div>