<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col col-md-6 col-lg-4 mt-5">

      <div class="application p-3">
        <h4 class="text-purple text-center">Admin Login</h4>

        <p class="information text-center">
          Use the admin username and password to login to the
          admin control panel.
        </p>

        <form action="/admin/login" method="post">

          <div class="form-group">
            <label for="admin-username">Admin Username</label>
            <input type="text" class="form-control" id="admin-username" name="username"
              aria-describedby="admin-username-help" placeholder="Enter admin username" required>
          </div>

          <div class="form-group">
            <label for="admin-password">Admin Password</label>
            <input type="password" class="form-control" id="admin-password" name="password"
              aria-describedby="admin-password-help" placeholder="Enter admin password" required>
          </div>

          <button type="submit" class="btn btn-primary btn-block mt-4">Login</button>
        </form>

        {{#if message}}
          <div class="doc url_baseline p-4 mt-3 mb-3">
            <p class="information text-center">
              <b class="doc">{{message}}</b>
            </p>
          </div>
        {{/if}}

      </div>{{! .application }}
    </div>{{! .col.col-md-4 }}
  </div>{{! .row }}
</div>